.blocoTarefas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
   justify-content: space-around;
    padding: 0.8%;
    border-radius: 2%;
    background-color: #d0d0d0d7;
    width: 39%;
    }
    
    
    .botaoConcluir {
      background-color: #E74C3C; 
    
        color: #fff;
    width: 7.5vw;
    height: 6.2vh;
    font-size: 1em;
        border: none;
        border-radius: 5%;
        cursor: pointer;
      }
      
      .botaoConcluir:hover {
        background-color: #C0392B;  
      }
      
      .Concluida {
    
        background-color: #4CAF50; 

        color: #fff;
        width: 7.5vw;
        height: 6.2vh;
        font-size: 1em;
        border: none;
        border-radius: 5%;
        cursor: pointer;
      }
      
      .Concluida:hover {
      
        background-color: #3e8e41; 
      }
      
      .tarefaRealizada {
        font-size: 1.3em;
        font-weight: bold;    
      }
      
      .risco {
        text-decoration: line-through;
        color: rgba(35, 139, 49, 0.882);
        font-style: italic;
      
      }