.blocoTarefas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    gap: 1vw;
    padding: 0.5%;
    border-radius: 2%;
    background-color: #d0d0d0d7;
    width: 39%;
    }
    
    
    .botaoConcluir {
      background-color: #E74C3C; 
    
        color: #fff;
    width: 5.5vw;
    height: 6vh;
    font-size: 0.9em;
        border: none;
        border-radius: 5%;
        cursor: pointer;
      }
      
      .botaoConcluir:hover {
        background-color: #C0392B;  
      }
      
      .Concluida {
    
        background-color: #4CAF50; 

        color: #fff;
        width: 5.5vw;
        height: 6vh;
        font-size: 0.9em;
        border: none;
        border-radius: 5%;
        cursor: pointer;
      }
      
      .Concluida:hover {
      
        background-color: #3e8e41; 
      }
      
      .tarefaRealizada {
        font-size: 1.1em;
        font-weight: bold;    
      }
      
      .risco {
        text-decoration: line-through;
        color: rgba(35, 139, 49, 0.882);
        font-style: italic;
      
      }